body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}
header {
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  z-index: 1;
  align-items: center;
  background-color: black;
  margin-top: 0;
  padding: 10px;
}
.logo img {
  padding-left: 10px;
  height: 50px;
}
.content {
  z-index: 5;
  margin: 0 auto 200px auto;
  padding-top: 69px;
}
.mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}
.mission-title {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2, h4, h5 {
  margin: 0;
  padding: 10px;
}
